In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\roshn\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\roshn\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\roshn\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\roshn\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\roshn\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\roshn\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\roshn\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: setuptools in c:\users\roshn\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\roshn\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\roshn\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\roshn\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\roshn\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\roshn\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\roshn\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in c:\users\roshn\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\roshn\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six>=1.5 in c:\users\roshn\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from mlxtend.preprocessing import TransactionEncoder

In [6]:
Dataset = [['Milk', 'Onion', 'Bread', 'Butter', 'Eggs', 'Yogurt'],
           ['Cheese', 'Onion', 'Bread', 'Butter', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Butter', 'Eggs'],
           ['Milk', 'Orange', 'Corn', 'Butter', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Butter', 'Ice cream', 'Eggs']]

In [7]:
te=TransactionEncoder()

In [9]:
data= te.fit(Dataset).transform(Dataset)

In [10]:
import pandas as pd

In [13]:
Productdata=pd.DataFrame(data,columns=te.columns_)

In [14]:
Productdata

,Apple,Bread,Butter,Cheese,Corn,Eggs,Ice cream,Milk,Onion,Orange,Yogurt
0,False,True,True,False,False,True,False,True,True,False,True
1,False,True,True,True,False,True,False,False,True,False,True
2,True,False,True,False,False,True,False,True,False,False,False
3,False,False,True,False,True,False,False,True,False,True,True
4,False,False,True,False,True,True,True,False,True,False,False

In [16]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#Determining the frequent factors
frequent_factors = apriori(Productdata,use_colnames=True,min_support=0.1,max_len=4)

#Filtering the factors on the basis of conditions
rules = association_rules(frequent_factors,metric ='lift',min_threshold=1)

#Displaying the first 10 records
print(rules.head(10).sort_values(by='confidence',ascending =False))

  antecedents consequents  antecedent support  consequent support  support  \
0     (Apple)    (Butter)                 0.2                 1.0      0.2
3     (Apple)      (Eggs)                 0.2                 0.8      0.2
4     (Apple)      (Milk)                 0.2                 0.6      0.2
7     (Bread)    (Butter)                 0.4                 1.0      0.4
8    (Cheese)     (Bread)                 0.2                 0.4      0.2
9     (Bread)    (Cheese)                 0.4                 0.2      0.2
6    (Butter)     (Bread)                 1.0                 0.4      0.4
5      (Milk)     (Apple)                 0.6                 0.2      0.2
2      (Eggs)     (Apple)                 0.8                 0.2      0.2
1    (Butter)     (Apple)                 1.0                 0.2      0.2

   confidence      lift  leverage  conviction
0    1.000000  1.000000      0.00         inf
3    1.000000  1.250000      0.04         inf
4    1.000000  1.666667      0.08         inf
7    1.000000  1.000000      0.00         inf
8    1.000000  2.500000      0.12         inf
9    0.500000  2.500000      0.12    1.600000
6    0.400000  1.000000      0.00    1.000000
5    0.333333  1.666667      0.08    1.200000
2    0.250000  1.250000      0.04    1.066667
1    0.200000  1.000000      0.00    1.000000

In [18]:
#List the products which were sold min 50% times
apriori(Productdata,use_colnames=True,min_support=0.5)

    support               itemsets
0       1.0               (Butter)
1       0.8                 (Eggs)
2       0.6                 (Milk)
3       0.6                (Onion)
4       0.6               (Yogurt)
5       0.8         (Eggs, Butter)
6       0.6         (Butter, Milk)
7       0.6        (Butter, Onion)
8       0.6       (Yogurt, Butter)
9       0.6          (Eggs, Onion)
10      0.6  (Eggs, Butter, Onion)

In [20]:
#the data of the market basket analysis should be in the list format only
frequent_itemsets = apriori(Productdata,min_support=0.6,use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x:len(x))

In [21]:
frequent_itemsets[(frequent_itemsets['length']>=2) & (frequent_itemsets['support']>=0.7)]

   support        itemsets  length
5      0.8  (Eggs, Butter)       2

In [22]:
frequent_itemsets[(frequent_itemsets['itemsets'] == {'Onion','Butter'})]

   support         itemsets  length
7      0.6  (Butter, Onion)       2

In [26]:
target = '{\'Milk\'}'

#Searching required strings in consequents and sorting values on confidence
results_Milk = rules[rules['antecedents'].astype(str).str.contains(target,na =False)].sort_values(by='confidence',ascending =False)

results_Milk

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
25,(Milk),(Butter),0.6,1.0,0.6,1.000000,1.000000,0.00,inf
51,(Milk),(Yogurt),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
221,(Milk),"(Yogurt, Butter)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
5,(Milk),(Apple),0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
49,(Milk),(Orange),0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
67,(Milk),"(Apple, Butter)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
73,(Milk),"(Eggs, Apple)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
215,(Milk),"(Butter, Orange)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
273,(Milk),"(Corn, Orange)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
279,(Milk),"(Corn, Yogurt)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
307,(Milk),"(Yogurt, Orange)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
321,(Milk),"(Eggs, Apple, Butter)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
621,(Milk),"(Corn, Butter, Orange)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
635,(Milk),"(Corn, Yogurt, Butter)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
705,(Milk),"(Yogurt, Butter, Orange)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2
747,(Milk),"(Corn, Yogurt, Orange)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.2